@import "tailwindcss";

body {
    /* Degradado oscuro vertical */
    background: linear-gradient(to bottom, #1a1a1a, #000000);

    /* Asegura que cubra toda la pantalla aunque haya poco contenido */
    min-height: 100vh;

    font-family: system-ui, -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}